<!DOCTYPE html>
<html>
<head>
	<title>ROCK, PAPER, SCISSORS</title>

	<link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

	<%= yield %>

</body>

<!--
	clipart: http://www.wpclipart.com/
	font: Share Tech Mono from google fonts
-->
</html>