<h1>Make your pick <%= @player_name %>!</h1>

<form action="/results" method="POST">
	<button name="pick" value="Paper">Paper</button>
	<button name="pick" value="Rock">Rock</button>
	<button name="pick" value="Scissors">Scissors</button>
	<input type="hidden" name="name" value=<%= @player_name %>>
</form>
