<h1>Welcome <%= @player_name %></h1>

<form action="/results" method="POST">
	<button name="pick" value="Paper">Paper</button>
	<button name="pick" value="Rock">Rock</button>
	<button name="pick" value="Scissors">Scissors</button>
</form>
